APP_NAME=docker-observability-lab
LOG_LEVEL=info

POSTGRES_USER=admin
POSTGRES_PASSWORD=super_secure_password
POSTGRES_DB=observability_lab

NODE_ENV=production
PORT=3000

DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
